@import '~vuetify-scss';
@import './colors';

.none{
    display: none !important;
}

.mb-0{
    margin-bottom: 0px;
}

.hide_background{
    background: transparent !important;
    box-shadow: none;
}
  
.hide_background .theme--light{
    color: black !important;
}

.v-carousel__controls{
    background: transparent !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active, 
.layout-leave-active {
  transition: opacity .2s
}

.page-enter,
.page-leave-active,
.layout-enter, 
.layout-leave-active {
  opacity: 0
}